<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/lollipop.jpg" alt="candies">
    <h4>Rainbow Candy</h4>
    <p>"Rainbow Candy bursts with a kaleidoscope of vibrant flavors, delivering a sweet symphony that dances on your taste buds with every colorful bite."</p>
  </li>
  <li class="recipe">
    <img src="/sun.jpg" alt="candies">
    <h4>Sunlike Candy</h4>
    <p>"Sunlike Candy radiates a burst of sunshine in every delectable piece, combining the warmth of golden hues with a sweet embrace that brightens your palate with pure delight."</p>
  </li>
  <li class="recipe">
    <img src="/jar.jpg" alt="candies">
    <h4>Jar full of candy</h4>
    <p>"A jar full of candy is a tempting treasure trove, a glass container brimming with an irresistible assortment of sweet delights, promising a symphony of flavors waiting to be unwrapped and savored."</p>
  </li>
  <li class="recipe">
    <img src="/twinlollipop.jpg" alt="candies">
    <h4>Twin lollipop</h4>
    <p>"The twin lollipop is a delightful duo, featuring two whimsically swirled confections on a shared stick, offering a sweet double dose of joy in every enchanting twirl and lick."</p>
  </li>
  <li class="recipe">
    <img src="/donuts.jpg" alt="candies">
    <h4>Donuts</h4>
    <p>"Donuts are golden halos of happiness, a perfect ring of pillowy goodness that promises a heavenly blend of flavors and textures, inviting you to indulge in the blissful experience of each delectable bite."</p>
  </li>
  <li class="recipe">
    <img src="/strawberry.jpg" alt="candies">
    <h4>Strawberry Donuts</h4>
    <p>"Strawberry donuts are a burst of berry brilliance, their golden exteriors embracing a luscious pink hue, inviting you to savor the sweet fusion of soft, fluffy dough and the irresistible allure of fresh, juicy strawberries."</p>
  </li>
</ul>

<%- include('partials/footer'); -%>