<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/candyshop.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Candy Shop</h2>
    <h3>By mishrarohit10</h3>
    <a href="/candies" class="btn">View Candies</a>
  </div>
</header>

<%- include('partials/footer'); -%>